*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f6f8fc;
    
}
.content{
    max-width: 95%;
    margin: 1.2rem auto;
    padding: 1rem;
    background-color: #fff;
    
    border-radius: 1rem;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
    }
}

.content > h1 {
    margin: 0;
    text-align: center;
}
